[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "public/"]
	path = public/
	url = https://github.com/BlommaertsEdwin/BlommaertsEdwin.github.io.git
[submodule "public/BlommaertsEdwin.github.io"]
	path = public/BlommaertsEdwin.github.io
	url = https://github.com/BlommaertsEdwin/BlommaertsEdwin.github.io.git
